<%= form_with model: @task, url: category_tasks_path, local: true do |f| %>

    <div class="errors-container">
        <p>
            <% if @task.errors.any? %>
                <ul>    
                    <% @task.errors.full_messages.each do |message| %>
                        <li> <%= message %> </li>
                    <% end %>
                </ul>
            <% end %>
        </p>
    </div>

    <p>
        <label>Task</label><br>
        <%= f.text_field :name, :placeholder => "Eat apple" %>
    </p>

    <p>
        <label>Due Date</label><br>
          <%= f.text_field :due_date,
                    data: {
                      controller: "flatpickr",
                      flatpickr_min_date: Date.today }
            %>
    </p>

    <p>
        <label>Notes (optional)</label><br>
        <%= f.text_area :description, :cols => 50, :rows => 5, :placeholder => "An apple a day keeps the doctor away" %>
    </p>

    <p>
        <%= f.submit class: "button button-solid" %>
    </p>

<% end %>