<div class="title-area">
    <h1>Tasks</h1>
</div>

<div class="container">
    <% @tasks.each do |task| %>
        <div class="category">
            <div class="category-text">
                <h3><%= link_to task.name, task %></h3>
                <p><%= truncate( task.description, length: 60, omission: '...' ) %></p>
                <p class="small"><%= time_ago_in_words(task.created_at) %> ago</p>
            </div>
            <a href="/tasks/<%= task.id %>"><i class="lni lni-eye"></i>&emsp;View</a>
            <a href="/tasks/<%= task.id %>/edit"><i class="lni lni-pencil-alt"></i>&emsp;Edit</a>
            <%= link_to '<i class="lni lni-trash"></i>&emsp;Delete'.html_safe, task,
                method: :delete,
                data: { confirm: "Are you sure you want to delete this task? This action cannot be reversed." } %>
        </div>
    <% end %>
</div>