<div id="header">
    <a href="/">
        <div id="header-container">
            <div class="logo-container">
                <%= image_tag ("logo.png"), id: "logo-img" %>
                <h5>Think. Do. Repeat.</h5>
        </div>
    </a>
        <div class="nav-container">
            <nav>
                <ul>
                <li><%= link_to 'All Tasks', tasks_path, class: "low-contrast" %></li>
                <li><%= link_to 'Categories', categories_path, class: "low-contrast" %></li>
                <li><%= link_to 'Create Category', new_category_path, class: "low-contrast" %></li>
                <li><%= link_to 'Add a New Task', new_task_path, class: "low-contrast" %></li>
                <li><%= link_to 'Login', user_session_path, class: "low-contrast" %></li>
                <li><%= link_to 'Sign Up', new_user_registration_path, class: "low-contrast" %></li>
                <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, class: "low-contrast" %></li>
                </ul>
            </nav>
        </div>
    </div>
</div>